# Node.js dependencies
node_modules/
.next/
out/

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Lock files
package-lock.json
npm-shrinkwrap.json
yarn.lock
pnpm-lock.yaml

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?