# Python
*.pyc
__pycache__
__pycache__/
*.py[cod~]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.toml
.pytest_cache/
.pytype/
__pypackages__/
*.db
*.sqlite3

# Node.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
npm-shrinkwrap.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Editor files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Spotlight-V200
.Swapfile
.Trashes
.autofsck
.autorelabel
.icon? 
.icons
.profile
.vim
*.swp
*.swo
*.swn
*.nib
*.plist
*.log
*.sql
*.sqlite
*.db

# Local environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Local development
.env.local
.env.development.local
.env.test.local
.env.production.local